<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd">

	<bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:jdbc-acl.properties</value>
				<value>classpath:jdbc-business.properties</value>
			</list>
		</property>
	</bean>

	<bean id="dataSource-acl" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
		<property name="driverClass">
			<value>${jdbc.mysql.driverClassName.acl}</value>
		</property>
		<property name="jdbcUrl">
			<value>${jdbc.mysql.url.acl}</value>
		</property>
		<property name="user" value="${jdbc.mysql.username.acl}"></property>
		<property name="password" value="${jdbc.mysql.password.acl}"></property>
		<property name="acquireRetryAttempts" value="${jdbc.c3p0.acquireRetryAttempts.acl}"></property>
		<property name="acquireRetryDelay" value="${jdbc.c3p0.acquireRetryDelay.acl}"></property>
		<property name="testConnectionOnCheckin" value="${jdbc.c3p0.testConnectionOnCheckin.acl}"></property>
		<property name="testConnectionOnCheckout" value="${jdbc.c3p0.testConnectionOnCheckout.acl}"></property>
		<property name="preferredTestQuery" value="${jdbc.c3p0.preferredTestQuery.acl}"></property>
		<property name="idleConnectionTestPeriod" value="${jdbc.c3p0.idleConnectionTestPeriod.acl}"></property>
		<property name="checkoutTimeout" value="${jdbc.c3p0.checkoutTimeout.acl}"></property>
		<property name="minPoolSize" value="${jdbc.mysql.minPoolSize.acl}"></property>
		<property name="maxPoolSize" value="${jdbc.mysql.maxPoolSize.acl}"></property>
		<property name="initialPoolSize" value="${jdbc.mysql.initialPoolSize.acl}"></property>
		<property name="maxIdleTime" value="${jdbc.mysql.maxIdleTime.acl}"></property>
		<property name="acquireIncrement" value="${jdbc.mysql.acquireIncrement.acl}"></property>
	</bean>

	<bean id="dataSource-business" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
	<!-- 
		<property name="driverClass">
			<value>${jdbc.mysql.driverClassName.business}</value>
		</property>
		<property name="jdbcUrl">
			<value>${jdbc.mysql.url.business}</value>
		</property>
		<property name="user" value="${jdbc.mysql.username.business}"></property>
		<property name="password" value="${jdbc.mysql.password.business}"></property>
		<property name="acquireRetryAttempts" value="${jdbc.c3p0.acquireRetryAttempts.business}"></property>
		<property name="acquireRetryDelay" value="${jdbc.c3p0.acquireRetryDelay.business}"></property>
		<property name="testConnectionOnCheckin" value="${jdbc.c3p0.testConnectionOnCheckin.business}"></property>
		<property name="testConnectionOnCheckout" value="${jdbc.c3p0.testConnectionOnCheckout.business}"></property>
		<property name="preferredTestQuery" value="${jdbc.c3p0.preferredTestQuery.business}"></property>
		<property name="idleConnectionTestPeriod" value="${jdbc.c3p0.idleConnectionTestPeriod.business}"></property>
		<property name="checkoutTimeout" value="${jdbc.c3p0.checkoutTimeout.business}"></property>
		<property name="minPoolSize" value="${jdbc.mysql.minPoolSize.business}"></property>
		<property name="maxPoolSize" value="${jdbc.mysql.maxPoolSize.business}"></property>
		<property name="initialPoolSize" value="${jdbc.mysql.initialPoolSize.business}"></property>
		<property name="maxIdleTime" value="${jdbc.mysql.maxIdleTime.business}"></property>
		<property name="acquireIncrement" value="${jdbc.mysql.acquireIncrement.business}"></property>
	 -->
	 <!-- 
	 	TODO
	 	Fix Production Deploy Error: Can't use INTRANET IP in Public Internet Server, otherwise the whole Spring framework will crush caused by 'Database Access Denied'. 
	 	Here is only a temporary solution, it will make some function broken and we ignore it.
	  -->
	 	<property name="driverClass">
			<value>${jdbc.mysql.driverClassName.acl}</value>
		</property>
		<property name="jdbcUrl">
			<value>${jdbc.mysql.url.acl}</value>
		</property>
		<property name="user" value="${jdbc.mysql.username.acl}"></property>
		<property name="password" value="${jdbc.mysql.password.acl}"></property>
		<property name="acquireRetryAttempts" value="${jdbc.c3p0.acquireRetryAttempts.acl}"></property>
		<property name="acquireRetryDelay" value="${jdbc.c3p0.acquireRetryDelay.acl}"></property>
		<property name="testConnectionOnCheckin" value="${jdbc.c3p0.testConnectionOnCheckin.acl}"></property>
		<property name="testConnectionOnCheckout" value="${jdbc.c3p0.testConnectionOnCheckout.acl}"></property>
		<property name="preferredTestQuery" value="${jdbc.c3p0.preferredTestQuery.acl}"></property>
		<property name="idleConnectionTestPeriod" value="${jdbc.c3p0.idleConnectionTestPeriod.acl}"></property>
		<property name="checkoutTimeout" value="${jdbc.c3p0.checkoutTimeout.acl}"></property>
		<property name="minPoolSize" value="${jdbc.mysql.minPoolSize.acl}"></property>
		<property name="maxPoolSize" value="${jdbc.mysql.maxPoolSize.acl}"></property>
		<property name="initialPoolSize" value="${jdbc.mysql.initialPoolSize.acl}"></property>
		<property name="maxIdleTime" value="${jdbc.mysql.maxIdleTime.acl}"></property>
		<property name="acquireIncrement" value="${jdbc.mysql.acquireIncrement.acl}"></property>
	</bean>

	<bean id="sqlMapClient-acl" class="org.springframework.orm.ibatis.SqlMapClientFactoryBean">
		<property name="configLocation">
			<value>classpath:sqlMapConfig-acl.xml</value>
		</property>
		<property name="dataSource" ref="dataSource-acl" />
	</bean>

	<bean id="sqlMapClient-business" class="org.springframework.orm.ibatis.SqlMapClientFactoryBean">
		<property name="configLocation">
			<value>classpath:sqlMapConfig-business.xml</value>
		</property>
		<property name="dataSource" ref="dataSource-business" />
	</bean>

	<bean id="transactionManager-acl" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource-acl" />
	</bean>

	<bean id="transactionManager-business" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource-business" />
	</bean>

	<bean id="transactionInterceptor-acl" class="org.springframework.transaction.interceptor.TransactionInterceptor">
		<property name="transactionManager">
			<ref local="transactionManager-acl" />
		</property>
		<property name="transactionAttributes">
			<props>
				<prop key="*">PROPAGATION_REQUIRED,-Exception</prop>
			</props>
		</property>
	</bean>

	<bean id="transactionInterceptor-business" class="org.springframework.transaction.interceptor.TransactionInterceptor">
		<property name="transactionManager">
			<ref local="transactionManager-business" />
		</property>
		<property name="transactionAttributes">
			<props>
				<prop key="*">PROPAGATION_REQUIRED,-Exception</prop>
			</props>
		</property>
	</bean>

	<bean name="beanNameAutoProxy" class="org.springframework.aop.framework.autoproxy.BeanNameAutoProxyCreator" />

	<bean id="transactionProxy" parent="beanNameAutoProxy">
		<property name="beanNames">
			<list>
				<value>userService</value>
				<value>vidyoService</value>
				<value>scheduleService</value>
			</list>
		</property>
		<property name="interceptorNames">
			<list>
				<value>transactionInterceptor-acl</value>
				<value>transactionInterceptor-business</value>
			</list>
		</property>
	</bean>

</beans>
